/*
 * Customization Variables
 */

$accent: #FF0F00;
$image-size: 155px;

// Google fonts
$Serif: 'Roboto', serif;
$SansSerif: 'Roboto', sans-serif;
$Monospace: 'Roboto Mono', monospace;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
